* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9rem;
    /* border: 1px dashed; */
}

/* Utility */

:root {
    --lay-primary-dark: #0084fd;
    --lay-primary-light: #b5ddff;
    --lay-darkest: #000000;
    --lay-lighter: #ffffff;
    --lay-light: #a5a5a5;
    --lay-dark: #333333;

    --lay-secondary: #9792e4;
    --lay-highlight: #fdc15f;
}

.container {
    width: calc(100% - 48px);
    height: 100%;
    margin: auto;
}

.container_small{
    margin: 0 11rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: calc((100% / 12) *8);
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: calc((100% / 12) *4);
}

.d_flex {
    display: flex;
}

.card {
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

h3{
    font-size: 1.7rem;
}

.pd_1 {
    padding: 1rem;
}

.testimonial_card {
    width: 100%;
    background-color: var(--lay-secondary);
    margin: 1rem 0;
    text-align: center;

}

.strategic_plan,
.benefits,
.get_started {
    background-color: var(--lay-secondary);
}

.testimonial_text_intro,
.card_benefits {
    background-color: var(--lay-lighter);
}

h2,
p {
    text-align: center;
    margin: 2rem;
}

p{
    line-height: 1.7rem;
    font-size: 1.2rem;
}

/* Header */

nav {
    width: 100%;
    height: 3.7rem;
    padding-top: 0.5rem;
    background-color: var(--lay-primary-dark);
    justify-content: space-between;
}

.nav_right {
    text-align: end;

    & .menu_extented {
        display: none;
    }
}

.fa-solid,
.fas {
    color: white;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.nav_link_box {
    height: 100%;
    align-items: center;
}

.nav_link>a {
    color: white;
    padding: 0.9rem;
}

.bt_nav {
    background-color: var(--lay-lighter);
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    &>a {
        color: var(--lay-darkest);
        padding: 1rem;
    }
}



/* Main */

/* Demo section */
.demo_card {
    background-color: var(--lay-primary-light);
    border-radius: 2rem;
    padding-top: 2rem;
}

.card_top>h2,
.card_top>p {
    text-align: left;
}

.demo_card h2,
.card_top>.fa-solid {
    color: var(--lay-primary-dark);
}

.card_top {
    justify-content: center;
}

.card_top>.fa-solid {
    font-size: 5rem;
    margin-top: 2rem;
}

.demo_card>.card_bottom {
    margin: -0.3rem 0;
    padding-top: 2.3rem;
}

.app_store_btn>a {
    color: var(--lay-lighter);
    font-size: 1.2rem;
    background-color: var(--lay-primary-dark);
    padding: 1rem 3rem;
    margin-left: 1.5rem;
    border-radius: 2rem;
    line-height: 2.5rem;
}

.card_bottom>img {
    width: 100%;
    padding-top: 2rem;
}

/* Strategic Plan section*/

.strategic_card_bottom>h2,
.strategic_card_bottom>p {
    color: var(--lay-lighter);
    padding: 1rem;
    margin: 1rem;
}


.strategic_card_top>img {
    width: 100%;
}

.card_light {
    background-color: var(--lay-lighter);
    border-radius: 2rem;
    margin: 1rem 0;
    padding: 2rem;
}

.strategic_title{
    font-size: 3rem;
}

.card_light>.strategic_card_bottom {
    text-align: center;
    padding: 2rem;
}

.card_light h3 {
    margin-bottom: 1rem;
}

.btn_down_arrow {
    display: block;
    font-size: 2rem;
    color: black;
    background-color: var(--lay-secondary);
    margin: 1.5rem auto 1rem;
    padding: 1rem;
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.strategic_plan,
.benefits,
.get_started {
    background-color: var(--lay-secondary);
}

.testimonial_text_intro,
.card_benefits {
    background-color: var(--lay-lighter);
}

.card_benefits {
    margin: 1rem;
}

/* Testimonial Section */

.testimonial_card {
    border-radius: 2rem;
}

.testimonial_label {
    padding-top: 3rem;
}

.testimonial_title {
    color: var(--lay-secondary);
    margin: 1rem;
}

.img_round {
    width: 70%;
    margin: auto;
    padding: 2rem 0;
}

.img_round>img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.testimonial_quote {
    color: var(--lay-lighter);
    font-size: 1.4rem;
    padding-bottom: 2rem;
}

.testimonial_name {
    color: var(--lay-lighter);
    font-size: 1.3rem;
    padding-bottom: 2rem;
    margin: 0 2rem;
}

/* Benefits section */

.card_benefits{
    border-radius: 2rem;
    padding: 2rem;
}

.card_benefits_title{
    color: var(--lay-lighter);
}

.benefit_number,
.benefit_title{
    color: var(--lay-secondary);
}

.benefit_title{
    padding: 0.5rem 0;
}

.benefit_number{
    font-size: 3rem;
}

.benefits_text{
    text-align: left;
    margin: 1rem 0 2rem;
}

.btn_cta_more{
    color: var(--lay-lighter);
    background-color: var(--lay-secondary);
    padding: 0.5rem 3rem;
    border-radius: 2.2rem;
}

/* About Us section */
.about_title{
    color: var(--lay-secondary);
    font-size: 3rem;
}

.about_text,
.about_title{
    text-align: left;
}
.about_card_top{
    position: relative;

}

.about_card_top>img{
    width: 80%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    margin: 2rem;
}

.about_card_top>.fa-quote-left{
    color: var(--lay-secondary);
    font-size: 5rem;
    position: absolute;
    top: 5rem;
    right: 2rem;
}
.about_card_bottom>h2{
    color: var(--lay-secondary);
    text-align: left;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}
.about_card_bottom{
    padding-bottom: 5rem;
}

.fa-linkedin{
    padding-right: 0.5rem;
}

.about_card_bottom>a {
    margin-left: 2rem;
}

/* Get started */

.get_started_varietion{
    color: var(--lay-lighter);
}

.get_started_card>h2{
    color: var(--lay-lighter);
}

.highlight{
    font-size: 5rem;
    font-weight: 800;
    color: var(--lay-highlight);
}

.get_start_text{

    color: var(--lay-lighter);
    margin-bottom: 3rem;
}

.get_start_btn{
    font-style: none;
    color: var(--lay-secondary);
    font-size: 1.2rem;
    background-color: var(--lay-lighter);
    padding: 1rem 3rem;
    border-radius: 3rem;

}

.copyright>ul{
    color: var(--lay-lighter);
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.copyright li{
    margin: 0 0.8rem;
    list-style: disc;
}
/* footer */

#footer {
    background-color: var(--lay-dark);
    padding: 0 11rem;
}

.footer_top{
    color: var(--lay-lighter);
    padding-bottom: 3rem;
}

.footer_bottom{
    width: 100%;
    text-align: center;
    padding: 3rem;
}

.footer_bottom>a,
.footer_bottom>span {
    font-size: 1rem;
}

.footer_bottom>span {
    color: var(--lay-lighter);
}

.footer_bottom>a{
    color: var(--lay-secondary);
    text-decoration: underline;
}

/* Media Query */

@media screen and (min-width: 768px) {
    p{
        font-size: 1.3rem;
        line-height: 2.1rem;
    }

    .d_flex_md {
        display: flex;
    }
    
    .col-12-sm {
        width: 100%;
    }

    .col-8-sm {
        width: calc((100% / 12) *8);
    }

    .col-6-sm {
        width: 50%;
    }

    .col-4-sm {
        width: calc((100% / 12) *4);
    }

    /* Testimonial Section */

    .testimonial_right {
        align-self: center;
        justify-self: flex-start;
    }

    .testimonial_quote,
    .testimonial_name {
        text-align: left;
    }

    /* Benefits section */

    .about_card_bottom>a {
        padding: 0.5rem 2rem;
    }

    .about_card_top>.fa-quote-left{
        font-size: 3rem;
        position: absolute;
        top: 0;
        right: 0.5rem;
    }
}

@media screen and (min-width: 992px) {

    /* Header */

    .nav_right>.menu_icon {
        display: none;
    }

    .nav_right>.menu_extented {
        display: inline-block;
    }

    .col-12-md {
        width: 100%;
    }

    .col-8-md {
        width: calc((100% / 12) *8);
    }

    .col-6-md {
        width: 50%;
    }

    .col-4-md {
        width: calc((100% / 12) *4);
    }

    /* Demo section */

    .demo_card {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        justify-content: center;

        &>.card_top {
            justify-items: center;
        }

        &>.card_bottom {
            align-self: flex-end;
        }



    }

       h2 {
        font-size: 2.5rem;
    }



    /* Strategic Plan section*/

    .plan_desktop_mode {
        width: 70%;
        align-self: flex-end;
        justify-self: center;
    }

    .card_light>.strategic_card_bottom {
        text-align: center;
        padding: 0;

    }

    .d_flex_desktop {
        display: flex;
        justify-content: center;
        align-self: flex-end;
    }

    /* Benefits section */


}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 1200px;
    }

}