* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9rem;
    border: 1px dashed;
}

/* Utility */

:root {
    --lay-primary-dark: #0084fd;
    --lay-primary-light: #b5ddff;
    --lay-darkest: #000000;
    --lay-lighter: #ffffff;
    --lay-dark: #333333;
    --lay-secondary: #9792e4;
    --lay-highlight: #fdc15f;
}

.container {
    width: calc(100% - 48px);
    height: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: calc((100% / 12) *8);
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: calc((100% / 12) *4);
}

.d_flex {
    display: flex;
}

.card {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
}

.pd_1 {
    padding: 1rem;
}

/* debug */

.debug.plan_card,
.debug.testimonial_card,
.debug.card_benefits,
.debug.about_card,
.debug.get_started_card,
.debug.footer_bottom,
.debug.footer_top {
    height: 300px;
}

/* Header */

nav {
    width: 100%;
    height: 3.7rem;
    padding-top: 0.5rem;
    background-color: var(--lay-primary-dark);
    justify-content: space-between;
}

.nav_right {
    text-align: end;

    & .menu_extented {
        display: none;
    }
}

.fa-solid,
.fas {
    color: white;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.nav_link_box {
    height: 100%;
    align-items: center;
}

.nav_link>a {
    color: white;
    padding: 0.9rem;
}

.bt_nav {
    background-color: var(--lay-lighter);
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    &>a {
        color: var(--lay-darkest);
        padding: 1rem;
    }
}


/* Main */

.demo_card {
    background-color: var(--lay-primary-light);
    border-radius: 2rem;
    height: 100%;
    margin-bottom: 2rem;
}


h2,
p {
    text-align: center;
    margin: 2rem;
}

.card_top>h2,
.card_top>p {
    text-align: left;
}


.demo_card h2,
.card_top>.fa-solid {
    color: var(--lay-primary-dark);
}

.card_top {
    justify-content: center;
}

.card_top>.fa-solid {
    font-size: 5rem;
    margin-top: 2rem;
}

.demo_text {
    line-height: 2rem;
}

.demo_card>.card_bottom {
    margin: -2.3rem 0;
    padding-top: 2.3rem;
}

.app_store_btn>a {
    color: var(--lay-lighter);
    font-size: 1.2rem;
    background-color: var(--lay-primary-dark);
    padding: 1rem 3rem;
    margin-left: 1.5rem;
    border-radius: 2rem;
    line-height: 2rem;
}

.card_bottom>img {
    width: 100%;
    padding-top: 2rem;
}

.strategic_card_bottom>h2,
.strategic_card_bottom>p {
    color: var(--lay-lighter);
    padding: 1rem;
    margin: 1rem;
}


.strategic_card_top>img {
    width: 100%;
}

.card_light {
    background-color: var(--lay-lighter);
    border-radius: 2rem;
    margin: 1rem 0;
    padding: 2rem;
}

.card_light>.strategic_card_bottom {
    text-align: center;
    padding: 2rem;
}

.card_light h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.btn_down_arrow {
    display: block;
    font-size: 2rem;
    color: black;
    background-color: var(--lay-secondary);
    margin: 1.5rem auto 1rem;
    padding: 1rem;
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
}


.strategic_plan,
.benefits,
.get_started {
    background-color: var(--lay-secondary);
}

.testimonial_card {
    width: 100%;
    background-color: var(--lay-secondary);
    margin: 1rem 0;
}

.testimonial_text_intro,
.card_benefits {
    background-color: var(--lay-lighter);
}

.card_benefits {
    margin: 1rem;
}

/* footer */

.footer_text {
    background-color: var(--lay-dark);
}



/* Media Query */

@media screen and (min-width: 768px) {

    .col-12-sm {
        width: 100%;
    }

    .col-8-sm {
        width: calc((100% / 12) *8);
    }

    .col-6-sm {
        width: 50%;
    }

    .col-4-sm {
        width: calc((100% / 12) *4);
    }

}

@media screen and (min-width: 992px) {

    .nav_right>.menu_icon {
        display: none;
    }

    .nav_right>.menu_extented {
        display: inline-block;
    }

    .col-12-md {
        width: 100%;
    }

    .col-8-md {
        width: calc((100% / 12) *8);
    }

    .col-6-md {
        width: 50%;
    }

    .col-4-md {
        width: calc((100% / 12) *4);
    }

    .demo_card {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        justify-content: center;

        &>.card_top {
            justify-items: center;
        }

        &>.card_bottom {
            align-self: flex-end;
        }

    }

    .plan_desktop_mode {
        width: 70%;
        align-self: flex-end;
        justify-self: center;
    }

    .card_light>.strategic_card_bottom {
        text-align: center;
        padding: 0;

    }

    .d_flex_desktop{
        display: flex;
        justify-content: center;
        align-self: flex-end;
    }
}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 1200px;
    }



}

/* /nav */